<form method="post" action="{{ datos_payu.urlProduccion }}" id="myform" style="display: none;">
    <input name="merchantId"    type="hidden"  value="{{ datos_payu.merchantId }}"   >
    <input name="accountId"     type="hidden"  value="{{ datos_payu.accountId }}" >
    <input name="description"   type="hidden"  value="Compra en Back to Basics"  >
    <input name="referenceCode" type="hidden"  value="{{ referenceCode }}" >
    <input name="amount"        type="hidden"  value="{{ compra.precio }}"   >
    <input name="tax"           type="hidden"  value="{{ tax }}"  >
    <input name="taxReturnBase" type="hidden"  value="{{ taxReturnBase }}" >
    <input name="currency"      type="hidden"  value="{{ datos_payu.currency }}" >
    <input name="signature"     type="hidden"  value="{{ firma }}"  >
    <input name="test"          type="hidden"  value="0" >
    <input name="buyerEmail"    type="hidden"  value="{{ compra.direccion.user.email }}" >
    <input name="responseUrl"    type="hidden"  value="{{ url('pagar_payu_respuesta',{},false) }}" >
    <input name="confirmationUrl"    type="hidden"  value="{{ url('pagar_payu_confirmacion',{},false) }}" >

    <input name="shippingAddress"    type="hidden"  value="{{ compra.direccion.direccion }}" >
    <input name="shippingCity"    type="hidden"  value="{{ nombreCiudad }}" >
    <input name="shippingCountry"    type="hidden"  value="CO" >
    <input name="Submit"        type="submit"  value="Enviar" id="submit">
</form>
<script>
    var sub = document.getElementById('submit');
    sub.click();
</script>