{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="wrapper">
        <div class="carrito">

            <div class="row resumen resumen_compra">
                <h5>Muchas gracias por tu compra. Estos son los datos de tu pedido.</h5>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>Estado de la transaccion</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ estadoTx }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>ID de la transaccion</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ transactionId }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>Referencia de la venta</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ reference_pol }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>Referencia de la transaccion</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ referenceCode }}</p>
                            </div>
                        </div>
                    </div>

                    {% if pseBank %}
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>cus</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ cus }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>Banco</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ pseBank }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>Total</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ TX_VALUE | number_format }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <h4>Entidad</h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="contenedor">
                                <p>{{ lapPaymentMethod }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-6"></div>
                    <div class="col-xs-6">
                        <div class="contenedor">
                            <a href="{{ path('homepage') }}" class="button">Volver al home</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}