{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="banner banner_v2 banner_v3">
        <div class="item" style="background-image: url({{ qi.imagen('banner_distri') }})"></div>
        <div class="title">
            <div class="cont_center_v">
                <h1>
                    DISTRIBUIDORES
                </h1>
            </div>
        </div>
    </div>
    <div class="contenedor products">
        <a class="ico_filter v_filter"><img src="{{ qi.imagen('ico_filter') }}"/></a>
        <div class="cont_filter">
            <div class="filter">
                <h3>CIUDADES</h3>
                <hr>
                <ul>
                    <li><a href="#">Bogotá</a></li>
                    <li><a href="#">Bogotá</a></li>
                    <li><a href="#">Bogotá</a></li>
                    <li><a href="#">Bogotá</a></li>
                    <li><a href="#">Bogotá</a></li>
                    <li><a href="#">Bogotá</a></li>

                </ul>
            </div>
            <div class="bann_distri" style="background-image: url({{ qi.imagen('invite_distri') }})">
                <div class="datos">
                    <a class="close"><<</a>
                    <div class="cont_center_v">
                        <h4>Contáctanos envíando tus datos.</h4>
                        <form>
                            <label>Nombre</label>
                            <input type="text">
                            <label>Apellidos</label>
                            <input type="text">
                            <label>Empresa</label>
                            <input type="text">
                            <label>E-mail</label>
                            <input type="text">
                            <label>Celular</label>
                            <input type="text">
                            <input type="submit" value="Enviar" class="button"/>
                        </form>
                    </div>
                </div>
                <div class="mid">
                    <div class="cont_center_v">
                        <h6>sé nuestro distribuidor</h6>
                    </div>
                </div>
                <div class="mid">
                    <div class="cont_center_v">
                        <h5>Contáctanos envíando tus datos.</h5>
                        <a class="button" id="datos_distri">MIS DATOS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <table>
                <thead>
                    <td><h5>Nombre Empresa</h5></td>
                    <td><h5>email</h5></td>
                    <td><h5>teléfono</h5></td>
                </thead>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
                <tr>
                    <td>Bayside</td>
                    <td>empresa@correo.com</td>
                    <td>123-4567</td>
                </tr>
            </table>

            <h3>Punto más cercano</h3>

            <div class="map_distri" id="map_distri">


            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <script>
        function initMap() {
            var styleArray = [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}]

            var map = new google.maps.Map(document.getElementById('map_distri'), {
                center: {lat: -34.397, lng: 150.644},
                scrollwheel: false,
                styles: styleArray,
                zoom: 10
            });

            var marker = new google.maps.Marker({
                map: map,
                position: {lat: -34.397, lng: 150.644},
                title: ''
            });
        }
    </script>
{% endblock %}

