{% trans_default_domain 'FOSUserBundle' %}
{% set cu = app.request.locale %}
<div class="container forgot_pass">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <h2>Historial</h2>
        <hr/>
        {% for compra in ci.compras(user.id) %}
            <table class="table">
                <thead>
                    <th>{# qi.textoDB('c_produc') #}{{ compra.createdAt|date("m/d/Y") }}</th>
                    <th>{{ qi.textoDB('c_quantity') }}</th>
                    <th>{{ qi.textoDB('c_price') }}</th>
                    <th>{{ qi.textoDB('c_total') }}</th>
                </thead>

                {% set total = 0 %}
                {% for item in compra.compraitems %}
                    <tr>
                        <td>
                            <img alt="Bakc to Basic" src="{{ (path_productos ~'/'~ item.producto.imagen) | imagine_filter('prod_list_cart') }}"/>
                            <p style="width: 50%; display: inline-block; vertical-align: middle;">
                                <span style="width: 100%; display: inline-block;">{{ attribute(item.producto,'nombre' ~ cu) }}</span>
                                <span style="width: 100%; display: inline-block;">Size:{{ attribute(item.talla,'nombre' ~ cu) }}</span>
                            </p>
                        </td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.producto.precio | number_format(0) }}</td>
                        <td>${{ (item.producto.precio * item.cantidad) | number_format(0) }}</td>
                    </tr>
                    {% set total = total + (item.producto.precio * item.cantidad) %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{ qi.textoDB('c_total') }}</td>
                    <td>${{ compra.precio | number_format }}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
</div>