@import "../admin/mixins";
@import "../admin/variables";

@include breakpoint(mobileonly) {

  .menu {
    text-align: center;
    ul {
      width: $full;
      display: inline-block;
      margin: 0;
      padding: 0;
      display: none;
      li {
        width: $full;
        a {
          padding: 15px 0;
        }
        ul {
          display: none !important;
        }
      }
    }

    #v_menu {
      width: 18%;
      display: block;
      float: left;
      padding: 4%;
      img {
        width: $full;
        display: inline-block;
      }
    }

    .logo {
      width: 15%;
      display: inline-block;
      float: right;
      margin: 4%;
    }
    .access {
      width: $full;
      margin: 2% 0;
      p {
        margin: 0;
      }
      .carrito {
        width: 20%;

      }
      .contenedor {
        display: none;
        text-align: center;
        background-color: $black;
        color: $white;
        p {
          padding: 2% 0;
          letter-spacing: 0;
          font-size: 1.200em;
          color: $white;
          a {
            color: $white;
          }
        }
      }
    }
  }

  .banner {
    height: 70vh;
    height: 500px;
  }

  .banner_v2 {
    height: 40vh;
    height: 350px;
  }

  .category {
    height: auto;
    .sec {
      width: $full;
      height: 200px;
      margin: 2% 0;
    }
  }

  .go_info {

    .title {
      height: auto;
      margin: 2% 0;
    }

    p {
      font-size: 18px;
      letter-spacing: 4px;
    }

    .back_img {
      display: none;
    }

    .button {
      position: relative;
      display: inline-block;
      width: auto;
      top: inherit;
      left: inherit;
      margin-top: 5%;
    }
  }

  .banner_our {
    height: 180px;
  }

  .our_process {
    height: auto;
    .col_50:first-child {
      height: 330px;
    }
    .col_50 {
      width: $full;
    }
    .dual_title {
      text-align: center;

      .button {
        margin-top: 4%;
        float: none;
        display: inline-block;
      }
    }
  }

  .process {
    .select {
      background: none;

      .t_m {
        display: none;
      }

      li {
        width: 100%;
        a {
          margin: 2% 0;
          img {
            width: 10%;
            height: auto;
            margin: 0 2%;
            vertical-align: middle;
          }
          span {
            width: 80%;
            font-size: 1.000em;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .sustainable {
    .item {
      .img {
        height: 250px;
      }

    }
    .a_txt {
      p {
        text-align: left;
        text-align-last: left;
      }

      h2 {
        text-align: center;
      }
    }

  }

  .follow_i {
    padding: 3% 0;
  }

  .a_txt {
    padding: 2% 0;
    p {
      letter-spacing: 3px;
    }

    h2 {
      text-align: center;
    }
  }

  .footer {
    .news {
      padding: 2% 0;
    }

    .row {
      margin: 0;
    }
    .go_carrito {
      text-align: center;
      a {
        width: 15%;
        display: inline-block;
        img {
          width: $full;
          display: inline-block;
        }
      }
    }
    .social {
      margin: 2% 0;
      a {
        width: 10%;
      }
    }
    .sub_footer {

      .text {
        width: 100%;
      }

      a {
        width: 15%;
      }
    }
  }

  .home_store {
    .link {
      width: $full;
      height: 200px;
    }
  }
  .products {
    .filter {
      margin: 0;
      padding: 0 0;
      li {
        a {
          font-size: 1.000em;
          vertical-align: top;
          height: 52px;
        }
      }
    }
    .list {

      .item {
        height: 290px;
        .img {
          height: 70%;
        }
        .txt {
          height: 30%;
          h4 {
            font-size: 0.800em;
            display: inline-block;
          }
        }
        /*
        &:nth-child(9n+1) {
          height: 39vh;
          height: 290px;
        }
        &:nth-child(9n+2) {
          height: 39vh;
          height: 290px;
        }
        &:nth-child(9n+3) {
          height: 20vh;
          height: 150px;
        }
        &:nth-child(9n+4) {
          height: 39vh;
          height: 290px;
        }
        &:nth-child(9n+5) {
          height: 20vh;
          height: 150px;
        }
        &:nth-child(9n+6) {
          height: 29vh;
          height: 215px;
        }
        &:nth-child(9n+7) {
          height: 20vh;
          height: 150px;
        }
        &:nth-child(9n+8) {
          height: 39vh;
          height: 290px;
        }
        &:nth-child(9n) {
          height: 39vh;
          height: 290px;
        }
        */
        &.agotado {
          .oos {
            h3 {
              font-size: 1.000em;
            }
          }
        }

      }
    }
  }

  .the_produc {
    .txt {
      .button {
        width: 60%;
      }
    }
  }

  .blog {
    .wrapper {
      width: $full;
    }

    .rot_blog {
      width: 90%;
      text-align: center;
      margin: 0 5%;
      overflow: hidden;
      .item {
        margin: 0;
      }
      .arrow {
        display: none;
      }
    }

    .outstanding_blog {
      height: 368px;
      margin: 2% 10%;
    }
  }

  .the_blog {

    .item {
      width: $full;
    }

    .item:nth-child(2) {
      height: 660px;
      margin-top: 0;
    }
    .item:nth-child(3) {
      height: 320px;
    }
    .item:nth-child(4) {
      height: 320px;
    }
    .item:nth-child(5) {
      height: 660px;
    }
    .item:nth-child(6) {
      height: 660px;
    }
    .item:nth-child(7) {
      height: 320px;
    }
    .item:nth-child(8) {
      height: 320px;
    }
    .item:nth-child(9) {
      height: 660px;
    }
    .item:nth-child(10) {
      height: 660px;
    }

    .txt {
      width: $full;
    }
  }

  .contacto {
    overflow: inherit;
    height: 600px;
    overflow: hidden;
    .col_50 {
      width: $full;
    }

    #video-viewport, video {
      display: none;
    }

    .b_contact_m {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

  }

  .carrito {

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    #no-more-tables tr {
      border: 1px solid #ccc;
    }

    #no-more-tables td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    #no-more-tables td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before {
      content: attr(data-title);
    }

  }

  .title_g {
    width: 50%;
    margin-top: 20%;
  }

  .resumen_compra {
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      letter-spacing: 3px;
    }
  }

  .footer .sub_footer a.pay {
    width: 13%;
    margin: 15px 2%;
  }

}


@include breakpoint(phablet){

  .menu {
    #v_menu {
      display: none;
    }
  }

  .carrito {

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    #no-more-tables tr {
      border: 1px solid #ccc;
    }

    #no-more-tables td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    #no-more-tables td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before {
      content: attr(data-title);
    }

  }

}


@include breakpoint(tablet){

}

@include breakpoint(laptop){

}

@include breakpoint(desktop){

  #v_menu {
    display: none;
  }

}

/* iPad in portrait */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .banner_v2 {
    height: 40vh;
  }

  .category {
    height: 40vh;
    .sec {
      height: 40vh;
    }
  }

  .home_store {
    .link {
      width: 90%;
    }

  }

  .go_info {
    padding-bottom: 10%;
    .button {
      width: 30%;
      position: relative;
      top: inherit;
      left: inherit;
      display: inline-block;
      margin: 2% 0;
    }
    .title {
      height: 10vh;
    }
  }

  .blog {
    .wrapper {
      width: $full;
    }
    .outstanding_blog {
      height: 50vh;
    }
    .rot_blog {
      .item {
        height:20vh;
        .img {
          height: 30%;
        }
        .txt {
          height: 69%;
        }
      }
      .arrow {
        display: none;
      }
    }
  }

  .contacto {
    .item {
      form{
        textarea {
          height: 80px;
        }
      }
    }
  }

  .sustainable {
    .item {
      height: 60vh;
    }
  }

}