<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {{
        render(controller('AppBundle:Default:seo',
            {
                'url':app.request.getUri(),
                'homepage':url('homepage')
            }
        ))
    }}

    <link rel="icon" href="favicon.ico">


    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/swiper/dist/css/swiper.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/video.js/dist/video-js.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/tooltipster/dist/css/tooltipster.bundle.css') }}" />

        <link rel="stylesheet" href="{{ asset('assets/jquery-ui/themes/black-tie/jquery-ui.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/jquery-ui/themes/black-tie/theme.css.css') }}" />

        <link rel="stylesheet" href="{{ asset('assets/vendor/remodal/dist/remodal.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/remodal/dist/remodal-default-theme.css') }}" />


        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83373972-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>
{% include 'HomeBundle:Default:menu.html.twig' %}

{% block content %}{% endblock %}
{{ include('@Home/Default/follow_i.html.twig') }}
{% include 'HomeBundle:Default:footer.html.twig' %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/jquery-ui/jquery-ui.js') }}"></script>
<script src="{{ asset('assets/vendor/remodal/dist/remodal.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/swiper/dist/js/swiper.min.js') }}"></script>
<script src="{{ asset('assets/vendor/gsap/src/minified/TweenMax.min.js') }}"></script>
<script src="{{ asset('assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js') }}"></script>
<script src="{{ asset('assets/vendor/Flowtype.js/flowtype.js') }}"></script>
<script src="{{ asset('assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js') }}"></script>
<script src="{{ asset('js/jquery-loading-overlay/src/loadingoverlay.min.js') }}"></script>



<script src="{{ asset('assets/vendor/parallax.js/parallax.js') }}"></script>
<script src="{{ asset('assets/vendor/masonry/dist/masonry.pkgd.js') }}"></script>
<script src="{{ asset('assets/vendor/elevatezoom/jquery.elevatezoom.js') }}"></script>
<script src="{{ asset('assets/vendor/jssocials/dist/jssocials.min.js') }}"></script>
<script src="{{ asset('assets/vendor/tooltipster/dist/js/tooltipster.bundle.min.js') }}"></script>

<script src="{{ asset('js/utils.js') }}"></script>
<script src="{{ asset('js/cart/carrito.js') }}"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5797e5826986ebad55190678/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
{% block javascripts %}{% endblock %}
</body>
</html>