{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="banner_blog">
      <div  class="item" style="background-image: url({{ qi.imagen('banner_blog') }})">
          <div class="title_g float_r">
                <h2>the</h2>
                <h3>BLOG</h3>
          </div>
      </div>
    </div>
    <div class="blog">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="filter">
                        <form>
                            <button type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <input type="search" placeholder="Search"/>
                        </form>
                        <h2>record</h2>
                        <ul>
                            <li><a href="#">- May-2016</a></li>
                            <li><a href="#">- April-2016</a></li>
                            <li><a href="#">- February-2016</a></li>
                            <li><a href="#">- February-2016</a></li>
                        </ul>
                    </div>
                    {% include 'HomeBundle:Default:s_news.html.twig' %}
                </div>
                <div class="col-lg-9">
                    {% for item in qi.galeria('outstanding_blog') %}
                    <div class="outstanding_blog">
                        <div class="img" style="background-image: url({{ item.imagen }})"></div>
                        <div class="txt">
                            <div class="date">
                                <h3>{{ qi.textoDB('blog_date') }}</h3>
                            </div>
                            <div class="cont_center_v">
                                <h2>{{ item.titulo }}</h2>
                                <a href="{{ path('the_blog') }}">{{ qi.textoDB('blog_readmore') }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="rot_blog">
                    <h2>More Articles</h2>
                    <div class="row swiper-wrapper">
                        {% for item in qi.galeria('rot_articles') %}
                        <div class="item swiper-slide">
                            <div class="img" style="background-image: url({{ item.imagen }})"></div>
                            <div class="txt">
                                <div class="cont_center_v">
                                    <h3>{{ item.titulo }}</h3>
                                    <a href="{{ path('the_blog') }}">{{ qi.textoDB('blog_readmore') }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="arrow left"><img alt="" src="{{ qi.imagen('arrow_l_articles') }}"/></a>
                    <a class="arrow right"><img alt="" src="{{ qi.imagen('arrow_r_articles') }}"/></a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


