{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="banner_our">
      <div  class="item">
          <div class="cont_center_v">
              <div class="title_g title_g2">
                    <h2>{{ qi.textoDB('our_process_p1') }}</h2>
                    <h3>{{ qi.textoDB('our_process_p2') }}</h3>
              </div>
          </div>
      </div>
    </div>

    <div class="our_process">
        <div class="col_50">
            <div class="item video">
                <div class="cont_center_v">
                <video preload="auto" loop autoplay width="100%" height="100%"
                       poster="{{ qi.imagen('porter_our_process') }}" data-setup="{}">
                    <source src="/videos/our_process.mp4" type='video/mp4'>
                    <source src="/videos/our_process.webm" type='video/webm'>
                </video>
                </div>
            </div>
        </div>
        <div class="col_50">
            <div class="item">

                    <div class="a_txt justify">
                        {{ qi.textoBigDB('txt_our_pro')|raw }}
                    </div>
                    <div class="a_txt">
                        <p><b><i>– Back to Basics –</i></b></p>
                    </div>

            </div>
        </div>
    </div>

    <div class="container process">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <ul class="select" id="rot_our">
                    {% for item in qi.galeria('thumbs_process') %}
                       <li>
                           <a>
                            <img src="{{ item.imagen }}"/>
                            <span>{{ item.titulo }}</span>
                           </a>
                       </li>
                    {% endfor %}
                    <div class="t_m">
                        <h2>4. Satélite</h2>
                    </div>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="gal_top" id="gal_top">
                    <div class="swiper-wrapper">
                        {% for item in qi.galeria('gal_process') %}
                        <div class="item swiper-slide">

                            <div class="img" style="background-image: url({{ item.imagen }}) ">
                                {% if item.link %}
                                <iframe width="100%" height="100%" src="{{ item.link }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                {% endif %}
                            </div>
                            <div class="a_txt">
                                <p class="justify">{{ item.resumen }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


