{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="h_sustainable" style="background-image: url({{ qi.imagen('texture_H_sustainable') }})">

                <img alt="" src="{{ qi.imagen('h_sustainable') }}"/>

        </div>
        <div class="a_txt">
            {{ qi.textoBigDB('h_txt_sustainable')|raw }}
        </div>
        <div class="a_txt">
            <p><i><b>– Back to Basics –</b></i></p>
        </div>
    </div>

    <div class="sustainable">
        {% for item in qi.galeria('gal_sustainable') %}
        <div class="item">
            <div class="col_50">
                <div class="item">
                    <div class="img" style="background-image: url({{ item.imagen }})"></div>
                </div>
            </div>
            <div class="col_50">
                <div class="item">
                    <div class="a_txt">
                        <h2>{{ item.titulo }}</h2>
                        <p>{{ item.resumen }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}


