{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="banner_blog">
      <div  class="item" style="background-image: url({{ qi.imagen('banner_blog') }})">

            <div class="title_g float_r">
                <h2>the</h2>
                <h3>BLOG</h3>
            </div>

      </div>
    </div>
    <div class="the_blog">

            <div class="txt">
                <h2>THE GRAY RABBIT SKIN,
                    THE ACCESSORY</h2>
                <h3>July 01, 2016</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tellus massa, sollicitudin eget felis vitae, dictum volutpat elit. Aliquam pharetra imperdiet sem, vitae facilisis risus tempor sed. Nam a nulla vehicula, molestie enim a, fermentum turpis. Vivamus hendrerit a tortor in elementum. Phasellus malesuada, leo sit amet pretium condimentum, magna elit ullamcorper sapien, ac congue nisi risus nec diam. Sed urna elit, feugiat et viverra id, hendrerit eget enim. Mauris pharetra luctus lorem non venenatis. Vestibulum vestibulum lorem at leo porta efficitur quis vel metus. Integer pulvinar mi a nisl imperdiet, nec tincidunt nibh molestie.</p>

                <p>Integer ut metus ipsum. Nunc dolor dui, lobortis sed mi at, sagittis venenatis erat. Phasellus id lacinia justo. Pellentesque luctus risus eget libero lobortis volutpat. Donec scelerisque hendrerit luctus. Cras gravida volutpat hendrerit. Suspendisse ultrices nibh elit, sit amet sollicitudin erat tristique vel. Integer sed tempus augue. Nulla pharetra maximus venenatis. Etiam scelerisque porta mi in cursus.</p>

                <p>Duis quis volutpat risus, ut dictum risus. Donec eu nisi at leo consequat maximus. Quisque lobortis at tellus nec rutrum. Donec quis ullamcorper mi, eu elementum sem. Nullam fermentum, neque non semper dapibus, neque nisi interdum nibh, a facilisis enim diam at turpis. Aenean quam felis, ullamcorper et diam ut, ornare consequat erat. Phasellus quis ante eu velit consequat aliquet id eget sapien.</p>

                <p class="powered_by">By<a href="#">Daniela Peláez</a></p>
            </div>

            {% for item in qi.galeria('gal_photo_blog') %}
            <div class="item" style="background-image: url({{ item.imagen }})">
                <div class="cont_center_v">
                    <div class="hover">
                        <h2>SHARE</h2>
                        {% for item in qi.galeria('social_blog') %}
                        <a href="#">
                            <img src="{{ item.imagen }}"/>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        <div class="social_feed">
            <div class="control_blog">
                <a>Next <i class="fa fa-arrow-right"></i></a>
            </div>
            <h2>SHARE</h2>
            {% for item in qi.galeria('social_blog') %}
                <a href="#">
                    <img src="{{ item.imagen }}"/>
                </a>
            {% endfor %}
        </div>

    </div>


{% endblock %}


