{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="b_we_are">
        <div class="item" style="background-image: url({{ qi.imagen('banner_w_are') }})">
            <div class="item">

                <div class="cont_center_v">
                    <div class="title">
                        <h2>{{ qi.textoDB('title_we_1') }}</h2>
                        <h3>{{ qi.textoDB('title_we_2') }}</h3>
                        <h4>{{ qi.textoDB('title_we_3') }}</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="a_txt justify">
        <p>{{ qi.textoBigDB('txt_we1')|raw }}</p>
    </div>

    <div class="a_txt justify">
        <h2>{{ qi.textoDB('title_we_how') }}</h2>
        <p>{{ qi.textoBigDB('txt_how')|raw }}</p>

    </div>
    <div class="caracteristica">
        {% for item in qi.galeria('caracteristicas') %}
        <div class="banner banner_v2 d_1">
            <div class="col_50">
                <div class="cont_center_v">
                    <H3>{{ item.titulo }}</H3>
                    <p>{{ item.resumen }}</p>
                </div>
            </div>
            <div class="col_50">
                <div class="item" style="background-image: url({{ item.imagen }})"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="banner banner_v2 parallax-window"  data-parallax="scroll" data-image-src="{{ qi.imagen('banner_w_are2') }}">

    </div>
    <div class="a_txt title_we_b_2">
        <h2>{{ qi.textoDB('title_we_b1') }}</h2>
        <h3>{{ qi.textoDB('title_we_b2') }}</h3>
    </div>
    <div class="go_info">
        <div class="title" style="background-image: url({{ qi.imagen('texture_1') }})">
            <div class="cont_center_v">
                <img alt="" src="{{ qi.imagen('t_sustainable') }}"/>
            </div>
        </div>
        {{ qi.textoBigDB('we_sustainable')|raw }}
        <a href="{{ path('sustainable') }}" class="button">{{ qi.textoDB('See_more') }} <i class="fa fa-caret-right"></i></a>
        <div class="back_img" style="background-image: url({{ qi.imagen('back_sustainable') }})">
            <div class="b_white"></div>
        </div>
    </div>
{% endblock %}

