// Variables

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;



/* colors */

$black: #000;
$black_rgb: rgb( 0, 0, 0);

$white: #fff;
$white_rgb: rgb(255, 255, 255);

$gray_rgb: rgb(65, 64, 66);

$color1: #2A388F;
$color1_rgb: rgb(43, 56, 143);

$color2: #1B75BB;
$color2_rgb: rgb(27, 117, 187);

$color3: #CA3726;
$color3_rgb: rgb(202, 55, 38);

$color4: #BE1E2D;
$color4_rgb: rgb(190, 30, 45);

$color5: #76A641;
$color5_rgb: rgb(118, 166, 65);

/* end colors*/

/* opacities */

$op_half: 0.5;
$op_80: 0.8;
$op_0: 0;

/* end opacities */

/* sizes */

$normal: 1024px;
$full: 100%;
$half: 50%;
$tq: 30%;
$fourth: 25%;

/* end sizes*/
