.fixed{
  .content-wrapper{
    .thumb_img{
      clear: both;
      width: 200px;
      float: left;
    }
  }
}
.img_form{
  clear: both;
  float: left;
}

.modal-body, .modal-header, .modal-footer{
  width: 70%;
}

.modal-header{
  border-bottom: none;
}
.modal-footer{
  border-top: none;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
  border: 1px solid #c4c3c3;
}
.ta_center{
  td, th{
    text-align: center !important;
  }
}
.error{
  color: #ff0000;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  display: none;
}
.guardando{
  display: none;
}
.vm{
  vertical-align: middle !important;
}
.table{
  ul{
    li{
      margin-bottom: 1px;
    }
  }
  &.np{
    td{
      padding: 1px;
    }
  }
}