{% extends 'lay_iridian.html.twig' %}
    {% set lc = app.request.locale %}

{% block content %}

       <div class="container-fluid">
            <div class="row">
                <div class="the_produc">
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="txt">
                            <h2>{{ producto.nombre }}</h2>
                            {{ producto.gen("descripcion",lc) | raw }}
                                                   <hr>
                            <h3>${{ producto.precio | number_format }}</h3>

                        {% if app.user %}
                        {% else %}
                            <a class="button button2" href="{{ path('registro_login') }}?ruta={{ path('boxplan',{'id':producto.id,'nombre':producto.nombre}) }}">
                                <span> {{ qi.textoDB('box_send') }}</span>
                              </a>
                        {% endif %}
                        </div>

                        </div>
                   <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                       <div class="img">
                       <img alt="" src="{{ (path_productos ~'/'~ producto.imagen) | imagine_filter('prod_rot_gal') }}"/>
                       </div>


                    </div>

                    <div class="col-sm-12 col-lg-12">
                        {% if app.user %}
                            {% if estado %}
                                <h4>Tienes una suscripción {{ estado }}</h4>
                            {% else %}
                        <div class="the_produc">
                                <h4>{{ qi.textoDB('preferencias_box') }}</h4>
                                <div class="row direccion2">
                                    <div class="col-lg-12">
                                        {{ form_start(form) }}
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_genero_form_box') }}</label>
                                            {{ form_widget(form.genero) }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_form_talla_c_box') }}</label>
                                            {{ form_widget(form.tallacamiseta) }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_form_colca_box') }}</label>
                                            {{ form_widget(form.colorcamiseta) }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_form_producto_box') }}</label>
                                            {{ form_widget(form.productotbt) }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_tallap_form_box') }}</label>
                                            {{ form_widget(form.tallapantalon) }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_colorp_form_box') }}</label>
                                            {{ form_widget(form.colorpantalon) }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label>{{ qi.textoDB('text_tallaz_form_box') }}</label>
                                            {{ form_widget(form.tallazapatos) }}
                                        </div>
                                        <div class="col-lg-12">
                                            <h4>{{ qi.textoDB('address_2')|raw }}  {% if direcciones|length>0 %}<br/> {{ qi.textoDB('address_1') }}{% endif %}</h4>
                                        </div>

                                        {% if direcciones|length>0 %}
                                            <div class=" txt col-lg-12">
                                                 <select id="direccionesuser" name="diruser" required="">
                                                    <option value=""></option>
                                                    {% for d in direcciones %}
                                                        <option {% if diruser|length>0 %}{% if diruser.id ==d.id%}selected {% endif %}{% endif %}value="{{ d.id }}">{{ d.departamento }}-{{ d.ciudad }}-{{ d.direccion }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        {% endif %}
                                       <div class=" txt col-lg-12">
                                        <div class="desp">
                                            {% if direcciones|length>0 %}
                                            <a class="button" id="nuevadir">{{ qi.textoDB('boton_nueva') }}</a>
                                            {% endif %}
                                            <div class="item" id="seccformenvio"  {% if direcciones|length==0 %}style="display:block"{% endif %}>
                                                <div class="col-lg-6">
                                                    <label>{{ qi.textoDB('dept_cart') }}</label>
                                                    <select class="envio" id="seldpto" name="departamento" {% if direcciones|length==0 %}required=""{% endif %}>
                                                        <option value=""></option>
                                                        {% for d in departamentos %}
                                                            <option value="{{ d.id }}">{{ d.nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>{{ qi.textoDB('city_cart') }}</label>
                                                    <select class="envio" id="selciudad" name="ciudad" {% if direcciones|length==0 %}required=""{% endif %}>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>{{ qi.textoDB('dir_cart') }}</label>
                                                    <textarea class="envio" name="direccion" id="direccion"   {% if direcciones|length==0 %}required=""{% endif %}></textarea>
                                                </div>

                                                <div class="col-lg-6">
                                                    <label>{{ qi.textoDB('additional_cart') }}</label>
                                                    <textarea   id="adicional" name="adicionales"></textarea>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6">
                                                <button  type="submit"  class="button float_r">{{ qi.textoDB('box_send') }}</button>
                                            </div>
                                        </div>
                                    </div>


                                    {{ form_end(form) }}
                                </div>
                           </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>



    {% endblock %}




{% block javascripts %}
    <script>
        cambiarciudades();

        $('#seldpto').change(function () {
            cambiarciudades();

        });


        $('#direccionesuser').change(function () {
           if($(this).val().length>0){
               $(".envio").prop("required",false);
               $('#seccformenvio').hide();
           }else{
               $(".envio").prop("required",true);
               $('#seccformenvio').show();
           }
        })

        $('#nuevadir').click(function () {

            if(!$(".item").is(":visible")){
                $(".envio").prop("required",true);
                {% if direcciones|length>0 %}
                $("#direccionesuser").prop("required",false)
                $("#direccionesuser").val('');
                {% endif %}
            }else{
                {% if direcciones|length>0 %}
                $(".envio").prop("required",false);
                $("#direccionesuser").prop("required",true)
                {% endif %}
            }
        })

        function cambiarciudades(){
            $.LoadingOverlay("show",{ zIndex: 9999, image: '/js/jquery-loading-overlay/src/loading.gif'});
            $.ajax({
                url: $raiz+"/ciudades-dept/"+$('#seldpto').val(),
            })
                .done(function(html) {
                    $('#selciudad').html(html);
                    costoEnvio();
                })
                .fail(function() {
                })
                .always(function() {
                    $.LoadingOverlay("hide");
                });
        }

        </script>
{% endblock %}
