{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set genero = app.request.get('genero') %}
    {% set lc = app.request.locale() %}

        <div class="products">

              <div class="list">
               <div class="grid">
                    {% for item in productos %}
                        <div class="item gi grid-item c_ e_ ca_">
                            <div class="img" style="background-image: url({{ path_productos~"/"~item.imagen }})"></div>
                            <div class="img img2" style="background-image: url({{ path_productos~"/"~item.imagenaux }})"></div>
                            <a href="{{ path('boxplan',{id:item.id, nombre: qi.slugify(item.nombre)}) }}"></a>
                            <div class="txt">
                                <div class="cont_center_v">
                                    <h4>{{ item.nombre }}</h4>
                                </div>
                            </div>
                            <div class="oos"><h3>{{ qi.textoDB('store_out_stock') }}</h3></div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

{% endblock %}


