{% extends 'lay_iridian.html.twig' %}
   {% set lc = app.request.locale %}
{% block content %}

<div class="container gift">
    <div class="row">
        <div class="col-lg-4">
            <div class="txt">
                <h2>{{ producto.nombre }}</h2>
                {{ qi.textoBigBD('texto_cancelación')| raw }}
            </div>
        </div>
        <div class="col-lg-8">
            <div class="img">
                <img alt="" src="{{  path_productos~"/"~producto.imagen }}"/>
            </div>
            <p>{{ qi.textoBigDB("cancelacion-producto") }}</p>
            <a class="button" href="{{ path('make-cancelar',{'id':producto.id}) }}">Cancelar</a>
        </div>
    </div>
</div>

{% endblock %}


