{% extends 'lay_iridian.html.twig' %}

{% block content %}


    <div class="container log">
        <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    {{ form_start(form, {'method': 'post', 'action': '#', 'attr': {'class': 'fos_user_registration_register', "id": "register_form"}}) }}
                        {{ form_errors(form) }}
                        <h4>{{ qi.textoDB('login_have_account') }}</h4>
                        <div class="contenedor">
                            {{ form_errors(form.nombre) }}
                            {{ form_widget(form.nombre, { attr: {'placeholder':qi.textoDB('Nombre')} } ) }}
                        </div>
                        <div class="contenedor">
                            {{ form_errors(form.apellidos) }}
                            {{ form_widget(form.apellidos, { attr: {'placeholder':qi.textoDB('Apellidos')} } ) }}
                        </div>
                        <div class="contenedor">
                            {{ form_errors(form.telefono) }}
                            {{ form_widget(form.telefono, { attr: {'placeholder':qi.textoDB('Teléfono')} } ) }}
                        </div>
                        <div class="contenedor">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { attr: {'placeholder':qi.textoDB('Email')} } ) }}
                        </div>
                        <div class="contenedor">
                            <label>{{ qi.textoDB('Fecha de nacimeinto') }}</label>
                            {{ form_errors(form.fecha) }}
                            {{ form_widget(form.fecha, { attr: {'placeholder':qi.textoDB('Fecha de nacimeinto'), 'class': 'datepicker'} } ) }}
                        </div>
                        <div class="contenedor">
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username, { attr: {'placeholder':qi.textoDB('Usuario')} } ) }}
                        </div>
                        <div class="contenedor">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { attr: {'placeholder':qi.textoDB('Contraseña')} } ) }}
                        </div>
                        <div class="contenedor">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, { attr: {'placeholder':qi.textoDB('Repetir contraseña')} } ) }}
                        </div>
                        <div class="contenedor">
                            <input type="checkbox" required>
                            <p>{{ qi.textoDB('login_terms') }}</p>
                        </div>
                       <div class="contenedor">
                            <input class="button" type="submit" value="{{ qi.textoDB('login_create') }}"/>
                        </div>
                    {{ form_end(form) }}

                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <h4>{{ qi.textoDB('login_login') }}</h4>

                            {% for flashMessage in app.session.flashbag.get('error') %}
                                {# flashMessage #}
                                <br/>
                                <div class="alert alert-danger">
                                    Los datos de usuario o contraseña no son válidos, por favor verifiquelos e intente nuevamente
                                </div>
                            {% endfor %}


                        <div class="contenedor">
                            <input type="text" id="username" name="_username" placeholder="Usuario" required="required" />
                        </div>
                        <div class="contenedor">
                            <input type="password" id="password" name="_password" placeholder="Contraseña" required="required"/>
                        </div>
                        <div class="contenedor">
                            <label class="float_r" for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> {{ qi.textoDB('login_remember') }}
                            </label>
                        </div>
                        <div class="contenedor">
                            <a class="float_r" href="{{ path('fos_user_resetting_request') }}">{{ qi.textoDB('login_forgot') }}</a>
                        </div>
                          <br/>
                        <input class="button" type="submit" value="{{ qi.textoDB('login_button') }}"/>
                    </form>
                </div>
        </div>
    </div>


    {% include "@Carroiridian/Default/message.html.twig"%}



{% endblock %}