{% extends 'lay_iridian.html.twig' %}

{% block content %}
        <div class="container">
            <div class="carrito">
                <!--
                {% include 'CarroiridianBundle:Default:pasos.html.twig' %}-->
                <div class="row">
                    <div id="no-more-tables">
                        {% if carrito|length > 0 or bonos|length > 0%}
                        <table class="col-md-12 col-sm-12 col-xs-12 table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>{{ qi.textoDB('c_produc') }}</th>
                                    <!--<th>Descripción</th>-->
                                    <th class="numeric">{{ qi.textoDB('c_size') }}</th>
                                    <th class="numeric">{{ qi.textoDB('c_price') }}</th>
                                    <th class="numeric">{{ qi.textoDB('c_quantity') }}</th>
                                    <th class="numeric">{{ qi.textoDB('c_total') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cu = app.request.locale | capitalize %}
                                {% set total = 0 %}
                                {% set discount = (descuento|length == 0) ? 0 : descuento["valor"]  %}
                                {% set discount_porc = (descuento_porc|length == 0) ? 0 : descuento_porc["valor"]  %}
                                {% for id,tallas in carrito %}
                                    {% for id_talla, item in tallas %}
                                        {% if item.cantidad > 0 %}
                                            {% set producto = ci.productoId(id) %}
                                            {% set talla = ci.tallaId(id_talla) %}
                                            <tr data-id="{{ id }}" data-id-talla="{{ id_talla }}">
                                                <td data-title="PRODUCTO">
                                                    <img src="{{ (path_productos ~'/'~ producto.imagen) | imagine_filter('prod_list_cart') }}"/>
                                                    <div class="desripcion">
                                                        <h4>{{ attribute(producto,'nombre' ~ cu) }}</h4>
                                                        <p>REF.{{ producto.sku }}</p>
                                                    </div>
                                                </td>
                                                <!--<td data-title="DESCRIPCIÓN">
                                                    <h4>{{ attribute(producto,'nombre' ~ cu) }}</h4>
                                                    <p>REF.{{ producto.sku }}</p>
                                                </td>-->
                                                <td data-title="TALLA" class="numeric"><h4>{{ attribute(talla,'nombre' ~ cu) }}</h4></td>
                                                <td data-title="PRECIO" class="numeric"><h4>${{ item.precio | number_format(0) }}</h4></td>
                                                <td data-title="CANTIDAD" class="numeric">
                                                    <select class="select-cant">
                                                        {% for i in 1..ci.inventario(id, id_talla).cantidad %}
                                                            <option value="{{ i }}" {% if i == item.cantidad %}selected{% endif %}>{{ i }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td data-title="TOTAL" class="numeric">
                                                    <h4>${{ (item.precio * item.cantidad) | number_format(0) }}</h4>
                                                    <a class="button eliminar" data-id="{{ id }}" data-id-talla="{{ id_talla }}" data-cant="-{{ item.cantidad }}">REMOVER</a>
                                                </td>
                                            </tr>
                                            {% set total = total + (item.precio * item.cantidad) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% for id,item in bonos %}
                                    <tr data-id="{{ id }}" >
                                        <td data-title="PRODUCTO">
                                            <img src="{{ qi.imagen('back_gift') | imagine_filter('prod_list_cart') }}"/>
                                            <div class="desripcion">
                                                <h4>{{ qi.textoDB('BONO DE REGALO') }}:</h4>
                                                </br>
                                                <p>De: {{ item['de'] }}</p>
                                                <p>Para: {{ item['para'] }}</p>
                                            </div>
                                        </td>
                                        <td data-title="TALLA" class="numeric"><h4>N/A</h4></td>
                                        <td data-title="PRECIO" class="numeric"><h4>${{ item['valor'] | number_format(0) }}</h4></td>
                                        <td data-title="CANTIDAD" class="numeric">
                                            1
                                        </td>
                                        <td data-title="TOTAL" class="numeric">
                                            <h4>${{ (item['valor']) | number_format(0) }}</h4>
                                            <a class="button eliminar_bono" data-id="{{ id }}"  data-cant="-1">{{ qi.textoDB('remove') }}</a>
                                        </td>
                                    </tr>

                                    {% set total = total + item['valor'] %}
                                {% endfor %}
                                {% if descuento_porc|length > 0 %}
                                        {% set discount_porc = (total * discount_porc) / 100 %}
                                        {% set total = total - discount_porc %}
                                    {% else %}
                                        {% set total = total - discount %}
                                {% endif %}
                                {% if total < 0 %}
                                    {% set total = 0 %}
                                {% endif %}
                                <input type="hidden" readonly id="total-carrito" value="{{ total }}" />
                            </tbody>
                        </table>
                        {% else %}
                            {{ qi.textoDB('no_products_in_cart') }}
                        {% endif %}
                    </div>
                </div>
                {% if carrito|length > 0 or bonos|length > 0%}
                <div class="row direccion2">
                    {% if show_dir == 0 %}
                        <div class="col-lg-12">
                            <h4>{{ qi.textoDB('address_1')|raw }}</h4>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    {% for item in direcciones %}
                                        <li class="list-group-item">
                                            <span>{{ item.departamento }} - {{ item.ciudad }}: {{ item.direccion }}</span>
                                            <a href="{{ path('direccion_sesion',{id:item.id}) }}" class="button">seleccionar</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    {% endif %}
                    {% if direccion is null %}
                        <div class="col-lg-12">
                            <h4>{{ qi.textoDB('address_2')|raw }}</h4>
                        </div>

                        <div class="col-lg-12">
                            {{ form_start(form, {'attr': {'id': 'direccion_form'}}) }}
                            {{ form_errors(form) }}
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 col-md-6">
                                <div class="col-lg-12">
                                    <label>{{ qi.textoDB('dept_cart') }}</label>
                                    {{ form_errors(form.departamento) }}
                                    {{ form_widget(form.departamento) }}
                                </div>
                                <div class="col-lg-12">
                                    <label>{{ qi.textoDB('city_cart') }}</label>
                                    {{ form_errors(form.ciudad) }}
                                    {{ form_widget(form.ciudad) }}
                                </div>
                                <div class="col-lg-12">
                                    <label>{{ qi.textoDB('dir_cart') }}</label>
                                    {{ form_errors(form.direccion) }}
                                    {{ form_widget(form.direccion) }}
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label>{{ qi.textoDB('additional_cart') }}</label>
                                {{ form_errors(form.adicionales) }}
                                {{ form_widget(form.adicionales,{'attr':{'placeholder':'Conjunto residencial, unidad...'}}) }}

                                <label>Costo Envio</label>
                                <input type="text" readonly id="costo-envio" />
                            </div>
                            {{ form_end(form) }}
                        </div>
                        {% else %}
                            <div class="col-lg-12">
                                <h4>{{ qi.textoDB('address_selected')|raw }}</h4>
                            </div>
                            <br>
                            <div class="col-lg-12">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <ul class="list-group">
                                            <li class="list-group-item">
                                            <span>{{ direccion.departamento }} - {{ direccion.ciudad }}: {{ direccion.direccion }}</span>
                                            <input type="hidden" value="{{ direccion.ciudad.costo }}" readonly id="costo-envio" />
                                    </ul>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                    {% endif %}


                </div>

                <div class="row total">

                    <div class="col-lg-8 col-xs-12">

                    </div>

                    <div class="col-lg-4 col-xs-12">

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <form method="post" class="redimir">
                                <div class="col-lg-6">
                                    {% if descuento_porc|length == 0 %}
                                            <h6>{{ qi.textoDB('subtotal_cart') }}</h6>
                                        {% elseif descuento_porc|length == 0  %}
                                            <h6>{{ qi.textoDB('subtotal_cart') }}</h6>
                                    {% endif %}
                                    {% if descuento|length != 0 %}
                                        <h6>{{ qi.textoDB('subtotal_cart') }} ( {{ qi.textoDB('bono_desc_cart') }} ${{ discount | number_format }} )</h6>
                                    {% endif %}

                                    {% if descuento_porc|length != 0 %}
                                        <h6>{{ qi.textoDB('subtotal_cart') }} ( {{ qi.textoDB('descuento_cart') }} ${{  discount_porc| number_format }} )</h6>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6">
                                    <h4>${{ total | number_format }}</h4>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <form method="post" class="redimir">
                                <div class="col-lg-6">
                                    <h6>{{ qi.textoDB('ship_cost_cart') }}</h6>
                                </div>
                                <div class="col-lg-6">
                                    <h4><span id="costo-envio-span" >$0.00</span></h4>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <form method="post" class="redimir">
                                <div class="col-lg-6">
                                    <h6>{{ qi.textoDB('iva_cart') }}</h6>
                                </div>
                                <div class="col-lg-6">
                                    <h4><span id="carrito-iva">$0.00</span></h4>
                                </div>
                            </form>
                        </div>

                        {% if descuento|length == 0 and descuento_porc|length == 0 %}
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <form method="post" class="redimir">
                                    <div class="col-lg-6">
                                        <h6>{{ qi.textoDB('bonus') }}</h6>
                                        <input type="text" name="discount">
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="submit" class="button float_r">{{ qi.textoDB('redeem') }}</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}

                        {% if descuento_porc|length == 0 and descuento|length == 0%}
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <form method="post" class="redimir">
                                    <div class="col-lg-6">
                                        <h6>{{ qi.textoDB('descuento') }}</h6>
                                        <input type="text" name="discount_porc">
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="submit" class="button float_r">{{ qi.textoDB('redeem') }}</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}

                        <div class="col-xs-12 total">
                            <div class="col-lg-6">
                                <h6>{{ qi.textoDB('total_cart') }}</h6>
                            </div>
                            <!--<a class="button" style="visibility: hidden;">Vaciar mi carrito</a>-->
                            <div class="col-lg-6">
                                <h4 id="total-resultado">${{ total | number_format }}</h4>
                            </div>
                        </div>

                        <div class="col-xs-12 total">
                            <div class="col-lg-6">
                                <h6>{{ qi.textoDB('pay_online_cart') }}</h6>
                            </div>
                            <!--<a class="button" style="visibility: hidden;">Vaciar mi carrito</a>-->
                            <div class="col-lg-6">
                                <input type="radio" value="Online" name="tipo_pago_check" {% if tipo_pago == "Online" or tipo_pago == null %} checked {% endif %}>
                            </div>
                        </div>
                        {% if qi.settingDB('enable_offline') == "1" %}
                            <div class="col-xs-12 total">
                                <div class="col-lg-6">
                                    <h6>{{ qi.textoDB('pay_offline_cart') }} <span style="font-size: 7pt;">{{ qi.textoDB('pay_offline_add_cart') }}</span></h6>
                                </div>
                                <!--<a class="button" style="visibility: hidden;">Vaciar mi carrito</a>-->
                                {% if(total > qi.settingDB('min_contraentrega')) %}
                                    <div class="col-lg-6">
                                        <input type="radio" value="Contra entrega" name="tipo_pago_check" {% if tipo_pago == "Contra entrega" %} checked {% endif %}>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="col-xs-12">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                 <a href="javascript:void(0)" id="comprar" class="button float_r">{{ qi.textoDB('buy') }}</a>
                            </div>
                        </div>

                    </div>
                </div>

                {% endif %}
            </div>
        </div>
{% endblock %}