<div class="remodal message_remodal" data-remodal-id="message">
    <h2>{{ qi.textoDB('message_registration') }}</h2>
    <button data-remodal-action="confirm" class="remodal-confirm button">OK</button>
</div>