{% extends 'lay_iridian.html.twig' %}

{% block content %}
<div class="container forgot_pass">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="fos_user_user_show">
                <p> {{ app.user.username }}</p>
                <p>{{ app.user.email }}</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <h2>{{ qi.textoDB("m_planes") }}</h2>
        <hr/>


             {% if productos|length>0 %}
            <table class="table">
                <thead>
                <th>{{ qi.textoDB('c_produc') }}</th>
                <th></th>
                <th>{{ qi.textoDB('c_price') }}</th>
                <th>{{ qi.textoDB('estado_box') }}</th>
                <th>{{ qi.textoDB('finaliza-suscripcion') }}</th>
                <th></th>

                </thead>
                {% for producto in productos %}
                    <tr>
                        <td>
                            <p><strong>{{ producto.fecha|date('d/m/Y') }}</strong></p>
                            <p>{{ producto.nombre }}</p>
                            <img alt="Bakc to Basic" src="{{ (producto.imagen) | imagine_filter('prod_list_cart') }}"/>

                        </td>
                        <td>
                            <p style="width: 50%; display: inline-block; vertical-align: middle;">
                                <span style="width: 100%; display: inline-block;">{{ producto["direccion"] |raw}}</span>

                            </p>
                        </td>
                        <td>${{ producto.precio | number_format(0) }}</td>
                        <td>{{ producto.estado }}</td>
                        <td>{{ producto.hasta|date('d/m/Y') }}</td>
                        <td><a href="{{ path('cancelar-suscripcion',{'id':producto.idplan}) }}">Cancelar</a></td>
                    </tr>
                  {% endfor %}
             </table>
        {% endif %}

    </div>
</div>
{% endblock %}