{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="container">
        <div class="carrito">
            <!--
                {% include 'CarroiridianBundle:Default:pasos.html.twig' %}-->
            <div class="row">
                <div id="no-more-tables">
                       <table class="col-md-12 col-sm-12 col-xs-12 table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                            <tr>
                                <th>{{ qi.textoDB('c_produc') }}</th>
                                 <th class="numeric">{{ qi.textoDB('c_total') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr data-id="{{ plan.id }}" >
                                    <td data-title="PRODUCTO">
                                        <img src="{{  (path_productos ~'/'~ plan.imagen) | imagine_filter('prod_list_cart') }}"/>
                                        <div class="desripcion">
                                            <h4>{{ plan.nombre }}:</h4>
                                          </div>
                                    </td>
                                    <td data-title="TOTAL" class="numeric">
                                        <h4>${{ plan.precio | number_format(0) }}</h4>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                </div>
            </div>
            {% if estado %}
                 Tiene una suscripcion {{ estado }}
                {% else %}

                {% if error != '' %}
                    <span class="invalid-feedback d-block">
                                        <span class="d-block">
                                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                                            <span class="form-error-message">{{error}}</span>
                                        </span>
                                     </span>
                {% endif %}

                <div class="row direccion2">
                    <form method="post" action="" id="pagotarjeta">
                    {% if tarjetas|length>0 %}
                      <div class="col-lg-12">

                            <div class="col-lg-6">
                                <label> {{ qi.textoDB('tarjetas_utilizadas') }}</label>
                        <ul class="list-group">
                            {% for item in tarjetas %}
                                <li class="list-group-item">
                                    <span>{{ qi.obtenertarjeta(item.token) }}</span>
                                    <a class="seltarg" href="javascript:void(0)" data-token="{{ item.id }}">seleccionar</a></li>
                            {% endfor %}
                        </ul>
                            </div>
                      </div>

                        {% endif %}
                        <div class="the_produc">
                        <div class="txt desp">
                            {% if tarjetas|length>0 %}
                                    <a class="button"  onclick="javascript:nuevatarjeta()"  id="nuevadir">{{ qi.textoDB('boton_nueva') }}</a>
                            {% endif %}

                     <div class="item" id="camposnuevatarjeta">
                         <input id="tokentarget" name="tokentarget" value="" type="hidden">
                    <div class="row">
                    <div class="col-lg-6">
                        <label>{{ qi.textoDB('text_nombre_form_tarjeta') }}</label>
                        <input class="valorestarjeta" type="text" name="name" required value="{{ datos.name }}"/>
                    </div>
                    <div class="col-lg-6">
                    <label>{{ qi.textoDB('text_docum_form_tarjeta') }}</label>
                    <input  class="valorestarjeta"  type="text" name="document" required value="{{ datos.document }}"/>
                    </div>
                    </div>
                        <div class="row">
                        <div class="col-lg-6">
                        <label>{{ qi.textoDB('text_numtar_form_tarjeta') }}</label>
                        <input class="valorestarjeta"  type="text" name="number" id="input-cc" required value="{{ datos.number }}"/>
                        </div>
                            <div class="col-lg-6">
                            <label>{{ qi.textoDB('text_mesv_form_tarjeta') }}</label>
                            <select class="valorestarjeta"  name="expMonth" id="" required="">
                                {% set meses = ['01','02','03','04','05','06','07','08','09','10','11','12'] %}
                                {% for item in meses %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="row">
                    <div class="col-lg-6">
                    <label>{{ qi.textoDB('text_aniov_form_tarjeta') }}</label>
                    <select  class="valorestarjeta"  name="expYear" id="" required="">
                        {% for item in "now"|date("Y")..2035 %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    </div>

                    <div class="col-lg-6">
                        <label>{{ qi.textoDB('text_direcc_form_tarjeta') }}</label>
                        <input class="valorestarjeta"  type="text" name="address[line1]" required value="{{ datos.address.line1 }}"/>
                    </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-6">
                            <label>{{ qi.textoDB('text_ciudad_form_tarjeta') }}</label>
                               <input class="valorestarjeta"  type="text" name="address[city]" required value="{{ datos.address.city }}"/>
                              <input type="hidden" name="address[country]" value="CO"/>
                              </div>
                             <div class="col-lg-6">
                                <label>{{ qi.textoDB('text_telefono_form_tarjeta') }}</label>
                                 <input class="valorestarjeta"  type="text" name="address[phone]" required value="{{ datos.address.phone }}"/>
                             </div>
                                <input type="hidden" name="type" id="type"/>

                         </div>
                     </div>

                        <div class="row">
                       <div class="col-xs-12">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                 <button  type="submit"  form="pagotarjeta" class="button float_r">{{ qi.textoDB('buy') }}</button>
                            </div>
                        </div>
                        </div>

                        <input type="hidden" name="plan_ref" id="plan_ref" required value="{{ plan.idPayu }}"/>
                    </div>
                      </div>
                    </form>

                </div>


            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/cleave.min.js') }}"></script>
    <script>
        var cc_type = 'unknown';
        var cleave = new Cleave('#input-cc', {
            creditCard: true,
            delimiter: '-',
            onCreditCardTypeChanged: function (type) {
                console.log(type);
                cc_type = type;
                $('#type').val(type.toUpperCase());
            }
        });


        $('.seltarg').click(function(e) {
            var token = $(this).data("token");
            $(this).addClass("active");
            $('#tokentarget').val(token);
            $('#camposnuevatarjeta').hide();
            $('.valorestarjeta').prop("required", false);
        });

         function nuevatarjeta() {
             if (!$(".item").is(":visible")) {
                 $("#tokentarget").val('');
                 $('.valorestarjeta').prop("required", true);
             }
         }
    </script>

{% endblock %}