<div class="row pasos">
    <div class="col-xs-3"><h4>1. tu carrito</h4></div>
    <div class="col-xs-3"><h4>2. TUS DATOS</h4></div>
    <div class="col-xs-3"><h4>3. DIRECCIÓN</h4></div>
    <div class="col-xs-3"><h4>4. FIN</h4></div>
</div>