{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}

    <div class="container-fluid">
        <div class="row">
            <div class="the_produc">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="txt">
                        <h2>{{ producto.gen('nombre',lc) }}</h2>
                        {{ producto.gen('descripcion',lc)|raw }}
                        <div class="desp">
                            <a class="button">{{ qi.textoDB('product_size_fit') }}</a>
                            <div class="item">

                                <p>{{ producto.gen('fit',lc) | raw }}</p>
                                {% if producto.visibleMedidas == true %}
                                    <table>
                                        <thead>
                                        <th></th>
                                        <th>Bust / Busto</th>
                                        <th>Waist / Cintura</th>
                                        <th>Hips / Cadera</th>
                                        </thead>
                                        <tr>
                                            <td>S</td>
                                            <td>32 - 34</td>
                                            <td>26 - 27</td>
                                            <td>33 - 36</td>
                                        </tr>
                                        <tr>
                                            <td>M</td>
                                            <td>34 - 36</td>
                                            <td>28 - 29</td>
                                            <td>37 - 39</td>
                                        </tr>
                                        <tr>
                                            <td>L</td>
                                            <td>36 - 38</td>
                                            <td>30 - 31</td>
                                            <td>40 - 42</td>
                                        </tr>
                                    </table>
                                {% endif %}


                            </div>
                            {% if producto.modelo %}
                                <a class="button">{{ qi.textoDB('product_model') }}</a>
                                {% set modelo = producto.modelo %}
                                <div class="item">
                                    <div class="fotito" style="background-image: url({{ path_productos ~'/'~ modelo.imagen }})"></div>
                                    <p>{{ qi.textoDB('product_model') }}: {{ modelo.nombre }}</p>
                                    <!--<p>Height: {{ modelo.altura }}</p>-->
                                    <p>{{ qi.textoDB('product_measure') }}:</p>
                                    {{ modelo.gen('medidas',lc) | raw }}
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <h3>${{ producto.precio | number_format }}</h3>
                        {% set cant = 0 %}
                        {% for item in producto.inventarios %}
                            {% set cant = item.cantidad + cant %}
                        {% endfor %}
                        {% set tallas = ci.tallasProducto(producto.id) %}
                        {% if tallas | length > 0 %}
                            <div class="contenedor talla">
                                <h4>{{ qi.textoDB('product_size') }}</h4>
                                <form>
                                    <input type="hidden" id="select-talla" value="{{ (tallas|first).id }}">
                                </form>
                            </div>
                            <ul class="size">
                                {% for item in tallas %}
                                    {% set active = '' %}
                                    {% if loop.index == 1 %}
                                        {% set active = 'active' %}
                                    {% endif %}
                                    <li><a data-value="{{ item.id }}" class="{{ active }}">{{ item.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if cant > 0 %}
                        <a class="button button2 add_talla" data-id="{{ producto.id }}" data-cant="1">
                                <span>{{ qi.textoDB('product_add_to') }}</span>
                                <span>{{ qi.textoDB('product_bag') }}</span>
                        </a>
                        {% endif %}
                        {% if in_wish is defined %}
                                {% if in_wish == false %}
                                        <a href="{{ path("add_wish", {"id" : producto.id}) }}" class="button button2 button3 add_wishlist"><span>{{ qi.textoDB('product_wish') }}</span><i class="fa fa-heart" aria-hidden="true"></i></a>
                                    {% else %}
                                        <a href="{{ path("wishlist") }}" class="button button2 button3 add_wishlist"><span>{{ qi.textoDB('product_in_wish') }}</span><i class="fa fa-heart" aria-hidden="true"></i></a>
                                {% endif %}
                        {% endif %}

                        <div class="solcial_product">
                            <h4>{{ qi.textoDB('product_share_this') }}</h4>
                            {% for item in qi.galeria('social_product') %}
                                <a href="{{ item.link }}" target="_blank" title="{{ item.titulo }}"><img alt="" src="{{ item.imagen }}"/></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="gal">
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">
                                {% for item in imagenes %}
                                    <div class="item swiper-slide" data-zoom-image="{{ item }}" style="background-image: url({{ item | imagine_filter('prod_ver') }})"></div>
                                {% endfor %}
                            </div>
                            <!-- Add Arrows
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>-->
                        </div>
                        <div class="swiper-container gallery-thumbs">
                            <div class="swiper-wrapper">
                                {% for item in imagenes %}
                                    <div class="item swiper-slide" style="background-image: url({{ item | imagine_filter('prod_rot_gal') }})"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
            </div>
        </div>
    </div>

{#{{ include('@Zapatos/Default/interesting_products.html.twig', { 'producto': producto } ) }}#}

{% endblock %}



