{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set genero = app.request.get('genero') %}
    {% set lc = app.request.locale() %}
    <div class="banner banner_v2">
        <div  class="item" style="background-image: url({{ qi.imagen('banner_products') }})" data-imagen-mobil="{{ qi.imagenMobil('banner_products') }}">
            <div class="title_g float_l">
                <h2>{{ qi.textoDB('store_banner_the') }}</h2>
                <h3>{{ qi.textoDB('store_banner_store') }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <!--

        -->
        <div class="row">
            <div class="col-md-4 float_r">

                <form action="{{ path('busca_productos') }}" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        {% if search is defined %}
                                <input type="text"  class="form-control" name="search"  placeholder="search" value="{{ search }}">
                            {% else %}
                                <input type="text"  class="form-control" name="search"  placeholder="search">
                        {% endif %}

                        <span class="glyphicon glyphicon-search form-control-feedback"></span>

                    </div>
                </form>
            </div>
        </div>

        <div class="products">
                {% if categoria and genero %}
                    <ul class="filter">
                        <h2>{{ qi.textoDB('filter_gen') }}</h2>
                        {% for item in ci.generos() %}
                            {% set clase_cat = '' %}
                            {% if genero %}
                                {% if genero == item['id'] %}
                                    {% set clase_cat = 'active' %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a class="{{ clase_cat }}" href="{{ path('productos_por_genero',{'genero': item['id'] ,'nombre': qi.slugify(item['nombre'])}) }}">{{ item['nombre'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="filter">
                        <h2>{{ qi.textoDB('filter_cat') }}</h2>
                        {% for item in ci.categorias() %}
                            {% set clase_cat = '' %}
                            {% if categoria %}
                                {% if categoria == item['id'] %}
                                    {% set clase_cat = 'active' %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a class="{{ clase_cat }}" href="{{ path('productos_por_categoria',{'categoria': item['id'] ,'nombre': qi.slugify(item['nombre'])}) }}">{{ item['nombre'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% elseif categoria %}
                    <ul class="filter">
                        <h2>{{ qi.textoDB('filter_gen') }}</h2>
                        {% for item in ci.generos() %}
                            {% set clase_cat = '' %}
                            {% if genero %}
                                {% if genero == item['id'] %}
                                    {% set clase_cat = 'active' %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a class="{{ clase_cat }}" href="{{ path('productos_por_gen_cat',{'categoria': categoria, 'genero': item['id']}) }}">{{ item['nombre'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="filter">
                        <h2>{{ qi.textoDB('filter_cat') }}</h2>
                        {% for item in ci.categorias() %}
                            {% set clase_cat = '' %}
                            {% if categoria %}
                                {% if categoria == item['id'] %}
                                    {% set clase_cat = 'active' %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a class="{{ clase_cat }}" href="{{ path('productos_por_categoria',{'categoria': item['id'], "nombre": item["nombre"] }) }}">{{ item['nombre'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% elseif genero %}
                    <ul class="filter">
                        <h2>{{ qi.textoDB('filter_gen') }}</h2>
                        {% for item in ci.generos() %}
                            {% set clase_cat = '' %}
                            {% if genero %}
                                {% if genero == item['id'] %}
                                    {% set clase_cat = 'active' %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a class="{{ clase_cat }}" href="{{ path('productos_por_genero',{'genero': item['id'] ,'nombre': qi.slugify(item['nombre'])}) }}">{{ item['nombre'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="filter">
                        <h2>{{ qi.textoDB('filter_cat') }}</h2>
                        {% for item in ci.categorias() %}
                            {% set clase_cat = '' %}
                            {% if categoria %}
                                {% if categoria == item['id'] %}
                                    {% set clase_cat = 'active' %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a class="{{ clase_cat }}" href="{{ path('productos_por_gen_cat',{'categoria': item['id'], 'genero': genero }) }}">{{ item['nombre'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}


            <div class="list">


                <div class="grid">

                    {% for item in productos %}
                        {% set c_agotado = '' %}
                        {% set ci_cant = ci.productoInventario(item.id) %}
                        {% if ci_cant.cantidad == 0 %}
                            {% set c_agotado = 'agotado' %}
                        {% endif %}
                            <div class="item {{ c_agotado }} grid-item c_{{ item.colores | replace({' ':' c_'}) }} e_{{ item.estilos | replace({' ':' e_'}) }} ca_{{ item.categoria }} ">
                                <div class="img" style="background-image: url({{ item.imagen }})"></div>
                                <div class="img img2" style="background-image: url({{ item.imagenaux }})"></div>
                                <a href="{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}"></a>
                                <div class="txt">
                                    <div class="cont_center_v">
                                        <h4>{{ item.nombre }}</h4>
                                    </div>
                                </div>
                                <div class="oos"><h3>{{ qi.textoDB('store_out_stock') }}</h3></div>
                            </div>
                    {% endfor %}
                    {% if categoria==2 and qi.settingDB('seccion_box')!=1 %}
                       {% for plan in planes %}
                        <div class="item grid-item">
                            <div class="img" style="background-image: url({{ path_productos~"/"~plan.imagen }})"></div>
                            <div class="img img2" style="background-image: url({{ path_productos~"/"~plan.imagenaux }})"></div>
                            <a href="{{ path('boxplan',{id:plan.id, nombre: qi.slugify(plan.nombre)}) }}"></a>
                            <div class="txt">
                                <div class="cont_center_v">
                                    <h4>{{ plan.nombre }}</h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    {% elseif categoria==3 %}
                    <div class="item grid-item">
                        <div class="img" style="background-image: url({{ qi.imagengen('producto_bono') }})"></div>
                        <div class="img img2" style="background-image: url({{ qi.imagengen('producto_bono') }})"></div>
                        <a href="{{ path('gift') }}"></a>
                        <div class="txt">
                            <div class="cont_center_v">
                                <h4>{{ qi.textoDB('product_bono') }}</h4>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}


