

    <div class="follow_i">
        <div class="wrapper">
            <hr>
        </div>
            <h2>{{ qi.textoDB('follow_us') }}: <a href="https://www.instagram.com/back.to.basics/" target="_blank">@back.to.basics</a> INSTAGRAM</h2>
        <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/cd79ffb8c95c5a5eac88ee8194a9d2e2.html" id="lightwidget_cd79ffb8c9" name="lightwidget_cd79ffb8c9"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        <div class="wrapper">
        <hr>
        </div>
    </div>
