<div class="footer">
    <div class="container-fluid">
        {% include 'HomeBundle:Default:s_news.html.twig' %}

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 go_carrito">
                <a href="{{ path('carrito') }}">
                    <img src="{{ qi.imagen('go_shop') }}">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 social">
                {% for item in qi.galeria('social_footer') %}
                    <a href="{{ item.link }}" target="_blank" title="{{ item.titulo }}">
                        <img src="{{ item.imagen }}">
                    </a>
                {% endfor %}
            </div>
            <div class="col-lg-4 col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 sub_footer">
                <div class="text">
                    <p>Back to basics   - versión 1 I Copyright   2016 - {{ qi.textoDB('all_right') }}. - Powered By </p>
                    <p><a href="{{ path('terms') }}">Términos y condiciones</a> - <a href="{{ path('customer_service') }}">Servicio al cliente</a> - <a href="{{ path('privacy_poli') }}">Políticas de privacidad</a></p>

                    {% for item in qi.galeria('pay_footer') %}
                        <a class="pay" href="{{ item.link }}"><img src="{{ item.imagen }}"/></a>
                    {% endfor %}
                    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=HZKety92Wu7FfwIt8BtT2zjFoHPUqG2xEoVDm0h3kYg3qHrFQvD0XAS183g2"></script></span>
                </div>
                <a href="http://iridian.co/"><img src="/images/iridian.png"/></a>
            </div>
        </div>
    </div>
</div>