{% extends 'lay_iridian.html.twig' %}


{% block content %}

<div class="container gift">
    <div class="row">
        <div class="col-lg-4">
            <div class="txt">
                <h2>{{ qi.textoDB('bono_titulo') }}</h2>
                {{ qi.textoBigDB('bono_content') | raw }}
                {{ form_start(form) }}
                <label>{{ qi.textoDB('bono_label_de') }}</label>
                {{ form_widget(form.de, {'attr':{'placeholder': qi.textoDB('bono_de') }}) }}
                <label>{{ qi.textoDB('bono_label_para') }}</label>
                {{ form_widget(form.para, {'attr':{'placeholder': qi.textoDB('bono_para') }}) }}
                <label>{{ qi.textoDB('bono_label_phone') }}</label>
                {{ form_widget(form.telefono, {'attr':{'placeholder': qi.textoDB('bono_phone') }}) }}
                <label>{{ qi.textoDB('bono_label_tipo') }}</label>
                {{ form_widget(form.tipo) }}
                <label>{{ qi.textoDB('bono_label_valor') }}</label>
                {{ form_widget(form.valorbono, {'attr':{'placeholder': qi.textoDB('bono_valor') }}) }}
                <label>{{ qi.textoDB('bono_label_msj') }}</label>
                {{ form_widget(form.mensaje, {'attr':{'placeholder': qi.textoDB('bono_mensaje') }}) }}
                <input class="button" type="submit" value="{{ qi.textoDB('bono_send') }}"/>
                {{ form_end(form) }}

                <div class="solcial_product">
                    <h4>Share this product</h4>
                    {% for item in qi.galeria('social_product') %}
                        <a href=""><img alt="" src="{{ item.imagen }}"/></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="img">
                <img alt="" src="{{ qi.imagen('back_gift') }}"/>
            </div>
        </div>

    </div>

</div>


{% endblock %}
