{% extends 'lay_iridian.html.twig' %}


{% block content %}
    {% set lc = app.request.locale() %}
    <div class="banner b_home">

        {% for item in qi.galeria('banner_home') %}
            <a href="{{ item.link }}">
                <div class="item" style="background-image: url({{item.imagen}})" data-imagen-mobil="{{item.imagenmobil}}">
                    <div class="col_50 float_r">
                        <div class="cont_center_v">
                            {% for item in qi.galeria('boton_banner') %}
                            <a href="{{ item.link }}" class="go_shop">
                                <img src="{{ item.imagen }}">
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="banner category">
        {% for item in categorias %}
            <div class="sec">
                <div class="item">
                    {% if not is_mobile() %}
                        <div class="img1" style="background-image: url({{ path_productos ~'/'~ item.imagenaux }})"></div>
                        <div class="img2" style="background-image: url({{ path_productos ~'/'~ item.imagen }})"></div>
                    {% else %}
                        <div class="img1" style="background-image: url({{ path_productos ~'/'~ item.imagenmovil }})"></div>
                        <div class="img2" style="background-image: url({{ path_productos ~'/'~ item.imagenmovil }})"></div>
                    {% endif %}
                    {% if lc == "es" %}
                            <img class="title" src="{{ path_productos ~'/'~ item.imagentextoes }}">
                            <img class="title t_g" src="{{ path_productos ~'/'~ item.imagentextoes }}">
                        {% else %}
                            <img class="title" src="{{ path_productos ~'/'~ item.imagentextoen }}">
                            <img class="title t_g" src="{{ path_productos ~'/'~ item.imagentextoen }}">
                    {% endif %}

                    <a href="{{ path('productos_por_categoria',{'categoria': item.id, 'nombre': qi.slugify(item.gen('nombre',lc))}) }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="go_info">
        <div class="title" style="background-image: url({{ qi.imagen('texture_1') }})">
            <div class="cont_center_v">
                <img alt="" src="{{ qi.imagen('t_sustainable') }}"/>
            </div>
        </div>
        {{ qi.textoBigDB('intro_sustainable')|raw }}
        <a href="{{ path('sustainable') }}" class="button">{{ qi.textoDB('See_more') }} <i class="fa fa-caret-right"></i></a>
        <div class="back_img" style="background-image: url({{ qi.imagen('back_sustainable') }})">
            <div class="b_white"></div>
        </div>
    </div>

    <div class="our_process">

            <div class="col_50">
                <div class="item video">
                    <div class="cont_center_v">
                        <video loop autoplay preload="auto"
                               poster="{{ qi.imagen('porter_our_process') }}" data-setup="{}">
                            <source src="/videos/our_process.mp4" type='video/mp4'>
                            <source src="/videos/our_process.webm" type='video/webm'>
                        </video>
                    </div>
                </div>
            </div>

            <div class="col_50">
                <div class="item">

                    <div class="dual_title {{ lc }}">

                        <h2>{{ qi.textoDB('our_process_p1') }}</h2>
                        <h3>{{ qi.textoDB('our_process_p2') }}</h3>
                        <a href="{{ path('our_process') }}" class="button">{{ qi.textoDB('See_more') }} <i class="fa fa-caret-right"></i></a>

                    </div>

                </div>
            </div>

    </div>

    <div class="a_txt">
        <div class="wrapper">
            <h2>BACK TO BASICS</h2><i class="fa fa-registered"></i>
            <p>{{ qi.textoBigDB('back_t_b')|raw }}</p>
        </div>
    </div>





{% endblock %}
