{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="wrapper">
        <div class="carrito">

            <div class="row">
                <div class="col-sm-12 col-md-4">
                </div>
                <div class="col-sm-12 col-md-6">
                    <form>
                        <h4>Ingresar</h4>
                        <div class="contenedor">
                            <label>Usuario</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Contraseña</label>
                            <input type="text"/>
                        </div>

                        <input class="button" type="submit" value="Enviar"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}