<div class="contenedor menu">
    {% set lc = app.request.locale() %}
       <a id="v_menu" href="#"><img src="/images/ico_menu.png"></a>

        <a class="logo"  href="{{ path('homepage') }}">
            <img src="{{ qi.imagen('logo') }}"/>
        </a>

        <div class="access">
            <div class="contenedor">


                <p class="idioma">
                    {% set ruta = app.request.get('_route') %}
                    {% set params = app.request.attributes.get('_route_params')  %}
                    {% set params = params |slice(1) %}
                    <a href="{{ path(ruta, {"_locale": "es"} | merge(params)) }}">ESP</a> /
                    <a href="{{ path(ruta, {"_locale": "en"} | merge(params)) }}">ENG</a>
                </p>

                {% if app.user %}
                    <p style="text-transform: capitalize">{{ app.user.username }} |</p>
                    <p style="text-transform: capitalize"><a href="{{ path('fos_user_profile_show') }}">{{ qi.textoDB('Historial') }}</a></p>
                    <p style="text-transform: capitalize"><a href="{{ path('mis-planes') }}">{{ qi.textoDB('m_planes') }}</a></p>
                    <p style="text-transform: capitalize"><a href="{{ path('wishlist') }}">{{ qi.textoDB('m_wishlist') }}</a></p>
                    <p><a href="{{ path('fos_user_security_logout') }}">{{ qi.textoDB('exit_button') }}</a></p>
                {% else %}
                    <p><a href="{{ path('registro_login_inicial') }}">{{ qi.textoDB('login_button') }}</a> || <a href="{{ path('registro_login_inicial') }}">{{ qi.textoDB('register_button') }}</a></p>
                {% endif %}
            </div>

            {% set total = 0 %}
            {% for id,tallas in app.session.get('carrito') %}
                {% for id_talla, item in tallas %}
                    {% if item.cantidad > 0 %}
                        {% set total = total + item.cantidad %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% for id,item in app.session.get('bonos') %}
                    {% set total = total + 1 %}
            {% endfor %}

            {% if total == 1 %}
                {% set s = '' %}
            {% else %}
                {% set s = 's' %}
            {% endif %}
            <div class="carrito">
                <a href="{{ path('carrito') }}">
                    <img alt="" src="/images//carrito.png"/>
                </a>
                <p>{{ total }}</p>
            </div>
        </div>

        <ul>
            <li>
                <a href="{{ path('homepage') }}"><span>{{ qi.textoDB('m_home') }}</span></a>
            </li>
            <li>
                <a href="{{ path('home') }}"><span>{{ qi.textoDB('m_store') }}</span></a>
                <ul>
                    {% for item in ci.generos() %}
                        <li>
                            <a href="{{ path('productos_por_genero',{'genero': item.id})  }}" style="background-image: url({{ path_genero ~'/'~ item.imagen }})" >
                                <span>
                                    {{ item.nombre }}
                                </span>
                            </a>
                        </li>
                        <div class="link item" >
                            <div class="hover"></div>
                            <div class="cont_center_v">

                            </div>
                        </div>
                    {% endfor %}
                    <li>
                        <a href="{{ path('gift') }}" style="background-image: url({{ qi.imagen('m_img_wishlist') }})">
                            <span>{{ qi.textoDB('m_gift') }}</span>
                        </a>
                    </li>
                    {% if qi.settingDB('seccion_box') !=1 %}
                    <li>
                        <a href="{{ path('boxes') }}" style="background-image: url({{ qi.imagen('m_img') }})">
                            <span>{{ qi.textoDB('m_box') }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="{{ path('atc') }}"><span>{{ qi.textoDB('m_weare') }}</span></a>
            </li>

            <li>
                <a href="{{ path('the_blog') }}"><span>{{ qi.textoDB('m_blog') }}</span></a>
            </li>
            <li>
                <a href="{{ path('contacto') }}"><span>{{ qi.textoDB('m_contacto') }}</span></a>
            </li>
            <!--<li>
                <a href="{{ path('contacto') }}"><span>CONTACTO</span></a>
                <a href="{{ path('distri') }}"><span>Distribuidores</span></a>
                <a href="{{ path('zapatos') }}"><span>Blog</span></a>
            </li>-->
        </ul>



</div>