{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="banner b_home">
        <div class="rotador">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('rotator_home') %}
                    <div class="item swiper-slide" style="background-image: url({{item.imagen}})"></div>
                {% endfor %}
            </div>
        </div>
        <div class="cont_center_v">
            <h1>LOREM IPSUM</h1>
            <a class="button" href="{{ path('zapatos',{categoria: 2}) }}">
                COLECCION HOMBRE
            </a>
            <a class="button" href="{{ path('zapatos',{categoria: 1}) }}">
                COLECCION MUJER
            </a>
        </div>
        <a href="#" class="arrow left"><img src="{{ qi.imagen('arrow_left') }}"/></a>
        <a href="#" class="arrow right"><img src="{{ qi.imagen('arrow_right') }}"/></a>
    </div>
    <div class="contenedor a_txt">
        <div class="wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
        </div>
    </div>
    <div class="banner banner_technology">
        <div class="item" style="background-image: url({{ qi.imagen('banner_two') }})">
            <div class="col_50 float_r">
                <div class="cont_center_v">
                    <h3>Cómodo, perfecto</h3>
                    <h2>Air Tubeless TECNOLOGÍA</h2>
                    <a class="button">CONOCE MÁS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner banner_v2 d_1 news">
        <div class="swiper-wrapper">
            {% for item in qi.galeria('rotator_news') %}
                <div class="swiper-slide">
                    <div class="col_50">
                        <div class="cont_center_v">
                            <h4>FECHA</h4>
                            <H3>{{ item.titulo }}</H3>
                            <p>{{ item.resumen }}</p>
                        </div>
                    </div>
                    <div class="col_50">
                        <div class="item" style="background-image: url({{ item.imagen }})"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="#" class="arrow left"><img src="{{ qi.imagen('news_left') }}"/></a>
        <a href="#" class="arrow right"><img src="{{ qi.imagen('news_right') }}"/></a>
    </div>
    <div class="banner banner_v2 featured">
        {% for item in ci.productosRecomendados(5) %}
            <div class="item" style="background-image: url({{ item.imagen }})">
                <div class="hover">
                    <div class="cont_center_v">
                        <h5>{{ item.nombre }}</h5>
                        <a class="button" href="{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}">+ MÁS</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="title">
            <div class="cont_center_v">
                <h3>
                    PRODUCTOS DESTACADOS
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

