{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="wrapper">
        <div class="carrito">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <form>
                        <h4>Registra tus datos</h4>
                        <div class="contenedor">
                            <label>Nombre</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Apellidos</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Ciudad</label>
                            <select>
                                <option></option>
                            </select>
                        </div>
                        <div class="contenedor">
                            <label>Dirección</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Teléfono</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Email</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Usuario</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Contraseña</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Repetir contraseña</label>
                            <input type="text"/>
                        </div>
                        <input class="button" type="submit" value="Enviar"/>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6">
                    <form>
                        <h4>¿Ya tienes una cuenta?</h4>
                        <div class="contenedor">
                            <label>Usuario</label>
                            <input type="text"/>
                        </div>
                        <div class="contenedor">
                            <label>Contraseña</label>
                            <input type="text"/>
                        </div>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                        <input class="button" type="submit" value="Enviar"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}