<div class="news">
    <h4>{{ qi.textoDB('s_nes1') }}</h4>
    <h4>{{ qi.textoDB('s_nes2') }}</h4>
    <form id="form_newsletter">
        <input type="email" placeholder="{{ qi.textoDB('news_email') }}"/>
        <input class="button" type="submit" value="{{ qi.textoDB('submit') }}"/>
    </form>
</div>