{% extends 'lay_iridian.html.twig' %}


{% block content %}
   <div class="container legal">
       <div class="row">
           <div class="col-lg-1"></div>
           <div class="col-lg-10">
               {{ qi.textoBigDB('terms') | raw }}
           </div>
           <div class="col-lg-1"></div>

       </div>

   </div>



{% endblock %}
