{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set cu = app.request.locale | capitalize %}
    <div class="a_txt contacto_txt">
        {{ attribute(data,'mensaje' ~ cu) | raw }}
    </div>
    <div class="contacto" id="contacto">
        <div class="item">
                <video id="my-video_contact" class="my-video" loop autoplay preload="auto" width="1280" height="720"
                       poster="{{ qi.imagen('poster_contacto') }}" data-setup="{}">
                    <source src="/videos/contacto.mp4" type='video/mp4'>
                    <source src="/videos/contacto.webm" type='video/webm'>
                </video>
            <div class="b_contact_m" style="background-image: url({{ qi.imagen('b_contac_m') }})"></div>
            <div id="debug"></div>
            <div class="col_50">
                <div class="cont_center_v">
                    <h4>{{ qi.textoDB('contact_title') }}</h4>
                    {{ form_start(form) }}
                        {{ form_errors(form.matters) }}
                        {{ form_widget(form.matters, { 'attr': {'placeholder': 'matter'} }) }}

                        {{ form_errors(form.nombre) }}
                        {{ form_widget(form.nombre, { 'attr': {'placeholder':  qi.textoDB('contact_name') } }) }}

                        {{ form_errors(form.apellido) }}
                        {{ form_widget(form.apellido, { 'attr': {'placeholder': qi.textoDB('contact_lastname')} }) }}

                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'placeholder': qi.textoDB('contact_mail')} }) }}

                        {{ form_errors(form.pais) }}
                        {{ form_widget(form.pais, { 'attr': {'placeholder': qi.textoDB('contact_country')} }) }}

                        {{ form_errors(form.ciudad) }}
                        {{ form_widget(form.ciudad, { 'attr': {'placeholder': qi.textoDB('contact_city')} }) }}

                        {{ form_errors(form.mensaje) }}
                        {{ form_widget(form.mensaje, { 'attr': {'placeholder': qi.textoDB('contact_message')} }) }}

                        <input class="button" type="submit" value="{{ qi.textoDB('contact_send') }}"/>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


