{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set lc = app.request.locale() %}
    <div class="banner_blog">
        <div  class="item" style="background-image: url({{ qi.imagen('banner_blog') }})">
            <div class="title_g float_r">
                <h2>{{ qi.textoDB('title_blog_1') }}</h2>
                <h3>{{ qi.textoDB('title_blog_2') }}</h3>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="filter">
                        <form method="get" action="{{ path('the_blog') }}">
                            <button type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <input type="search" name="q" placeholder="Search"/>
                        </form>
                        <h2>record</h2>
                        <ul>
                            {% for item in qi.aniosBlog() %}
                                <li><a href="?month={{ item.fecha | date('m') }}&year={{ item.fecha | date('Y') }}">- {{ item.fecha | date('F-Y') }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% include 'HomeBundle:Default:s_news.html.twig' %}
                </div>
                <div class="col-lg-9">
                    {% for item in ultimos %}
                        <div class="outstanding_blog">
                            <div class="img" style="background-image: url({{ item.imagen }})"></div>
                            <div class="txt">
                                <div class="date">
                                    <h3>{{ item.fecha | date('F d Y') }}</h3>
                                </div>
                                <div class="cont_center_v">
                                    <h2>{{ item.titulo }}</h2>
                                    <a href="{{ path('post', {'id': item.id, 'name':qi.slugify(item.titulo)} ) }}">{{ qi.textoDB('blog_readmore') }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="rot_blog">
                    <h2>{{ qi.textoDB('blog_morearticles') }}</h2>
                    <div class="row swiper-wrapper">
                        {% for item in todos %}
                            <div class="item swiper-slide">
                                <div class="img" style="background-image: url({{ path_blogs ~'/'~ item.image }})"></div>
                                <div class="txt">
                                    <div class="cont_center_v">
                                        <h3>{{ item.gen('titulo',lc) }}</h3>
                                        <a href="{{ path('post', {'id': item.id, 'name':qi.slugify(item.gen('titulo',lc))} ) }}">{{ qi.textoDB('blog_readmore') }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="arrow left"><img alt="" src="{{ qi.imagen('arrow_l_articles') }}"/></a>
                    <a class="arrow right"><img alt="" src="{{ qi.imagen('arrow_r_articles') }}"/></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


