{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set lc = app.request.locale() %}
    <div class="banner_blog">
      <div  class="item" style="background-image: url({{ qi.imagen('banner_blog') }})">

            <div class="title_g float_r">
                <h2>{{ qi.textoDB('title_blog_1') }}</h2>
                <h3>{{ qi.textoDB('title_blog_2') }}</h3>
            </div>

      </div>
    </div>
    <div class="the_blog">

            <div class="txt">
                <h2>{{ post.gen('titulo',lc) }}</h2>
                <h3>{{ post.fecha | date('F d, Y') }}</h3>
                {{ post.gen('contenido',lc) | raw }}
                <p class="powered_by">By<a href="#">{{ post.autor }}</a></p>
            </div>

            {% for item in imagenes %}
            <div class="item" style="background-image: url({{ path_blogs ~'/'~ item }})">
                <div class="cont_center_v">
                    <div class="hover">
                        <h2>SHARE</h2>
                        {% for item in qi.galeria('social_blog') %}
                            <a href="#">
                                <img src="{{ item.imagen }}"/>
                            </a>
                        {% endfor %}
                        <div class="share"></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        <div class="social_feed">
            <div class="control_blog">
                <a href="#">Next <i class="fa fa-arrow-right"></i></a>
            </div>
            <h2>SHARE</h2>
            {% for item in qi.galeria('social_blog') %}
                <a href="#">
                    <img src="{{ item.imagen }}"/>
                </a>
            {% endfor %}
        </div>

    </div>


{% endblock %}
{% block javascripts %}

<script>
    $(".share2").jsSocials({
        shares: [ "facebook","pinterest"]
    });

</script>
{% endblock %}

