<input type="checkbox" {{ value == true ? 'checked' : '' }}
       data-toggle="toggle" data-size="mini"
       data-onstyle="success" data-offstyle="danger"
       data-on="Si" data-off="No">
<script>
    $(function() {
        $(".action-edit").remove();
        $("[name='my-checkbox']").bootstrapToggle();
        $("[name='my-checkbox']").click(function() {
            console.log($(this).prop("checked"))
            //http://localhost:8000/app_dev.php/admin/?action=edit&entity=Compra&view=list&id=188&property=pago&newValue=false
        })
        $(document).on('change', 'input', function() {
            // Does some stuff and logs the event to the console
            console.log("WORKS")
        });
    })
</script>