<a class="ico_filter v_filter"><img src="{{ qi.imagen('ico_filter') }}"/></a>
<div class="cont_filter">
    <div class="filter">
        <h3>CATEGORIAS</h3>
        <hr>
        <h4>GÉNERO</h4>
        <ul class="grupo">
            {% for item in ci.categorias() %}
                <li><input type="radio" data-class="ca_{{ item.id }}" name="categoria"><a href="#">{{ item.nombre }}</a></li>
            {% endfor %}
        </ul>
        <hr>
        <h4>ETÍLO</h4>
        <ul class="grupo">
            {% for item in ci.estilos() %}
                <li><input type="checkbox" data-class="e_{{ item.id }}"><a href="#">{{ item.nombre }}</a></li>
            {% endfor %}
        </ul>
        <hr>
        <h4>Color</h4>
        <ul class="colors grupo">
            {% for item in ci.colores() %}
                <li><a href="#"><span style="background-color: {{ item.hexa }}"></span><input type="checkbox" data-class="c_{{ item.id }}">{{ item.nombre }}</a></li>
            {% endfor %}
        </ul>

    </div>
    <div class="new">
        <h3>LO NUEVO</h3>
        {% for item in ci.productosNuevos(3) %}
        <hr>
        <div class="item" onclick="window.location = '{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}';">
            <div class="img" style="background-image: url({{ item.imagen | imagine_filter('prod_nuevo') }})"></div>
            <div class="txt">
                <h3>{{ item.nombre }}</h3>
                <h4>${{ item.precio }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
