
<div class="contenedor insteresting_products">

    <h5>Productos que podrían interesarte</h5>

    {% for item in ci.productosRelacionados(producto.id,4) %}
    <div class="item" onclick="window.location = '{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}';">
        <div class="img" style="background-image: url({{ item.imagen }})"></div>
        <div class="txt">
            <div class="cont_center_v">
                <h3>{{ item.nombre }}</h3>
                <p>REF.{{ item.sku }}</p>
                <h4>${{ item.precio | number_format }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


