{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}
    <div class="wrapper">
        <div class="contenedor product">
            <div class="col_50">
                <div class="views gallery-top">
                    <div class="swiper-wrapper">
                        {% for item in imagenes %}
                            <div class="item swiper-slide" style="background-image: url({{ item | imagine_filter('prod_ver') }})"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="thumbs gallery-thumbs">
                    <div class="swiper-wrapper">
                        {% for item in imagenes %}
                            <div class="item swiper-slide" style="background-image: url({{ item | imagine_filter('prod_rot_gal') }})"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col_50">
                <h3>{{ producto.gen('nombre',lc) }}</h3>
                <p>Ref.{{ producto.sku }}</p>
                <p>${{ producto.precio | number_format }}</p>
                {% set cant = 0 %}
                {% for item in producto.inventarios %}
                    {% set cant = item.cantidad + cant %}
                {% endfor %}
                <div class="contenedor">
                    {% if cant == 0 %}
                        <h5>Estado: AGOTADO</h5>
                    {% else %}
                        <h5>Estado: DISPONIBLE	Unidades: {{ cant }}</h5>
                    {% endif %}
                </div>
                <div class="contenedor">
                    {{ producto.gen('descripcion',lc) | raw }}
                </div>
                {% set cr = producto.coloresRelacionados %}
                {% if cr | length > 0 %}
                    <h4>Colores  Disponibles:</h4>
                    <div class="contenedor colores">
                        {% for item in producto.coloresRelacionados %}
                            <a class="item" style="background-image: url({{ (path_productos ~'/'~ item.imagen) | imagine_filter('prod_colores') }})"  href="{{ path('product',{id:item.id, nombre: qi.slugify(attribute(item,'nombre'~cu))}) }}"></a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% set tallas = ci.tallasProducto(producto.id) %}
                {% if tallas | length > 0 %}
                <div class="contenedor talla">
                    <h4>TALLA</h4>
                    <form>
                        <select id="select-talla">
                            {% for item in tallas %}
                                <option value="{{ item.id }}">
                                    {{ item.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                {% endif %}
                <div class="contenedor op">
                    {% if cant > 0 %}
                        <a href="#" class="button add_talla" data-id="{{ producto.id }}" data-cant="1">AÑADIR AL CARRITO</a>
                    {% endif %}
                    <a href="#" class="button">AÑADIR A mi wishlist</a>
                </div>
            </div>
        </div>
    </div>
    {{ include('@Zapatos/Default/interesting_products.html.twig', { 'producto': producto } ) }}

{% endblock %}


