<div class="item c_{{ item.colores | replace({' ':' c_'}) }} e_{{ item.estilos | replace({' ':' e_'}) }} ca_{{ item.categoria }} ">
    <div class="img" style="background-image: url({{ item.imagen | imagine_filter('prod_list') }})"></div>
    <div class="hover">
        <div class="cont_center_v">
            <a href=""><img src="/images/ico_carrito.png"/></a>
            <a href=""><img src="/images/ico_fav.png"/></a>
            <a href="{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}"><img src="/images/ico_ver.png"/></a>
        </div>
    </div>
    <div class="txt">
        <div class="cont_center_v">
            <h4>{{ item.nombre }}</h4>
            <p>REF.{{ item.sku }}</p>
            <H4>${{ item.precio }}</H4>
        </div>
    </div>
</div>