{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    <div class="banner banner_v2 banner_v3">
        <div class="rotador">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('rotator_home') %}
                    <div class="item swiper-slide" style="background-image: url({{item.imagen}})"></div>
                {% endfor %}
            </div>
        </div>
        <div class="cont_center_v">
            <h1>NUESTROS ZAPATOS</h1>
        </div>
    </div>
    <div class="contenedor products">
        <a class="ico_filter v_filter"><img src="{{ qi.imagen('ico_filter') }}"/></a>
        <div class="cont_filter">
            <div class="filter">
                <h3>CATEGORIAS</h3>
                <hr>
                <h4>GÉNERO</h4>
                <ul class="grupo">
                    {% for item in ci.categorias() %}
                        <li><input type="radio" data-class="ca_{{ item.id }}" name="categoria" {% if categoria == item.id %} checked {% endif %}><a href="#">{{ item.nombre }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <h4>ETÍLO</h4>
                <ul class="grupo">
                    {% for item in ci.estilos() %}
                        <li><input type="checkbox" data-class="e_{{ item.id }}"><a href="#">{{ item.nombre }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <h4>Color</h4>
                <ul class="colors grupo">
                    {% for item in ci.colores() %}
                        <li><a><span style="background-color: {{ item.hexa }}"></span><input type="checkbox" data-class="c_{{ item.id }}">{{ item.nombre }}</a></li>
                    {% endfor %}
                </ul>

            </div>

            <div class="new">
                <h3>LO NUEVO</h3>
                {% for item in ci.productosNuevos(3) %}
                <hr>
                <div class="item" onclick="window.location = '{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}';">
                    <div class="img" style="background-image: url({{ item.imagen }})"></div>
                    <div class="txt">
                        <h3>{{ item.nombre }}</h3>
                        <h4>${{ item.precio | number_format }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="list">
            {% if (productos | length) == 0 %}
                {% set productos = ci.productos(categoria) %}
            {% endif %}
            {% for item in productos %}
                <div class="item c_{{ item.colores | replace({' ':' c_'}) }} e_{{ item.estilos | replace({' ':' e_'}) }} ca_{{ item.categoria }} ">
                    <div class="img" style="background-image: url({{ item.imagen }})"></div>
                    <div class="hover">
                        <div class="cont_center_v">
                            <!--<a href=""><img src="/images/ico_carrito.png"/></a>-->
                            <!--<a href=""><img src="/images/ico_fav.png"/></a>-->
                            <a href="{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}"><img src="/images/ico_ver.png"/></a>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="cont_center_v">
                            <h4>{{ item.nombre }}</h4>
                            <p>REF.{{ item.sku }}</p>
                            <H4>${{ item.precio | number_format }}</H4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}


