{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-show-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'show show-' ~ _entity_config.name|lower %}

{% block content_title %}
    {% set _default_title = 'show.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.show.title is defined ? _entity_config.show.title|trans(_trans_parameters) : _default_title }}
{% endblock %}

{% block main %}
    <div class="form-horizontal">
        {% for field, metadata in fields %}
            <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                <label class="col-sm-2 control-label">
                    {{ (metadata.label ?: field|humanize)|trans(_trans_parameters) }}
                </label>
                <div class="col-sm-10">
                    <div class="form-control">
                        {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                    </div>

                    {% if metadata.help|default('') != '' %}
                        <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help|trans|raw }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-group form-actions">
            <div class="col-sm-10 col-sm-offset-2">
            {% block item_actions %}
                {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
                {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

                {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                    actions: _show_actions,
                    request_parameters: _request_parameters,
                    trans_parameters: _trans_parameters,
                    item_id: _entity_id
                }, with_context = false) }}
            {% endblock item_actions %}
            </div>
        </div>
    </div>

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}

    <div class="panel panel-primary">
        <div class="panel-heading">Imagenes asociadas</div>
        <div class="panel-body">
            <div class="row" id="contenedor_objetos">
                {% for item in qi.galeriaFull(entity.llave) %}
                    <div class="col-xs-6 col-md-3">
                        <a href="{{ path('easyadmin',
                            {
                                iframe:'1',
                                action:'edit',
                                entity:'Imagengaleria',
                                id:item.id,
                                galeria:entity.id
                            })
                        }}"
                           class="thumbnail" target="_blank" data-id="{{ item.id }}">
                            <img src="{{ item.imagen }}" alt="...">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row" id="new_objeto">
                <div class="col-xs-12 col-md-12">
                    <div class="button-action">
                        <a class="btn btn-primary action-new" href="{{ path('easyadmin',
                            {
                                iframe:'1',
                                action:'new',
                                entity:'Imagengaleria',
                                galeria:entity.id
                            })
                        }}">
                            Crear Imagengaleria
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <iframe id="iri_iframe" src="" width="600" style="margin-top: 20px;"></iframe>
                </div>
            </div>
        </div>
        <form action="{{ path('ordenar') }}" method="post" id="orden_form">
            {% for item in qi.galeriaFull(entity.llave) %}
                <input type="hidden" name="objeto[{{ item.id }}]" id="objeto_{{ item.id }}" value=""/>
            {% endfor %}
            <input type="hidden" name="id"  value="{{ entity.id }}"/>
        </form>
    </div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function (e) {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}
